<h1>Productos en el carrito</h1>
<section id="carritos">
    <div>
        {{#each carritos}}
        <div>
            <h2>Carrito con ID:{{_id}}</h2>
            {{#each this.products}}
            <ul>
                <li>Cantidad: {{this.quantity}}</li>
                <li>{{this.product.title}}</li>
                <li>ID:{{this.id}}</li>
                <li>{{this.description}}</li>
                <li>Categoría:{{this.category}}</li>
                <li>Código:{{this.code}}</li>
                <li>Stock:{{this.stock}}</li>
            </ul>
            <button>Quitar del carrito</button>
            {{/each}}
        </div>
        {{/each}}
        {{#if hasPrevPage}}
        <a href="./products/{{prevPage}}"><button>Anterior</button></a>
        {{/if}}

        {{#if hasNextPage}}
        <a href="products/?page={{nextPage}}"><button>Siguiente</button></a>
        {{/if}}
    </div>
</section>