<h1>Lista de productos</h1>
<section id="productos">
    <div>

        {{#each productos}}
        <div>
            <h2>{{title}}</h2>
            <h3>${{price}}</h3>
            <ul>
                <li>ID:{{_id}}</li>
                <li>{{description}}</li>
                <li>Categoría:{{category}}</li>
                <li>Código:{{code}}</li>
                <li>Stock:{{stock}}</li>
            </ul>
            <button>Agregar al carrito!</button>
        </div>
        {{/each}}
        {{#if hasPrevPage}}
        <a href="?page={{prevPage}}"><button>Anterior</button></a>
        {{/if}}
        <p>Página{{page}} de {{totalPages}}</p>
        {{#if hasNextPage}}
        <a href="?page={{nextPage}}"><button>Siguiente</button></a>
        {{/if}}
    </div>
</section>