<h1>Detalle del producto</h1>

<section id="productos">
    <div>

        {{#each productos}}
        <div>
            <a href="/api/products/{{code}}">
                <h2>{{title}}</h2>
            </a>
            <h3>${{price}}</h3>
            <ul>
                <li>ID:{{_id}}</li>
                <li>{{description}}</li>
                <li>Categoría:{{category}}</li>
                <li>Código:{{code}}</li>
                <li>Stock:{{stock}}</li>
            </ul>
            <button>Agregar al carrito!</button>
        </div>
        {{/each}}

        {{!-- {{#if hasPrevPage}}
        <a href="?page={{prevPage}}"><button>Anterior</button></a>
        {{/if}}
        <p>Página{{page}} de {{totalPages}}</p>
        {{#if hasNextPage}}
        <a href="?page={{nextPage}}"><button>Siguiente</button></a>
        {{/if}} --}}
    </div>
    <a href="/api/products">
        <h3>Volver al listado general</h3>
    </a>
</section>